
# Node
node_modules/


# OS
.DS_Store

# Ignore the virtual environment
backend/venv/

# Ignore Python cache files
**/__pycache__/
*.pyc

# Ignore environment variables (if you create a .env file later)
.env
Testing
sample.pdf
sample.docx
sample.png
resume.pdf
test.py